//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        undo {
            bindings = <&kp LG(Z)>;
            key-positions = <21 22>;
            layers = <0>;
        };

        redo {
            bindings = <&kp LG(LS(Z))>;
            key-positions = <21 23>;
            layers = <0>;
        };

        paste {
            bindings = <&kp LG(V)>;
            key-positions = <23 24>;
            layers = <0>;
        };

        copy {
            bindings = <&kp LG(C)>;
            key-positions = <23 22>;
            layers = <0>;
        };

        shift {
            bindings = <&kp LSHIFT>;
            key-positions = <24 25>;
            layers = <0>;
        };
    };

    behaviors {
        mt_hyp: mt_hyp {
            compatible = "zmk,behavior-hold-tap";
            label = "Hyperkey conf";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
        };

        mt_timeless_hrm: mt_timeless_hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "Urod's timeless hrm, zmk config.";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "hold-preferred";
            require-prior-idle-ms = <100>;
            hold-trigger-on-release;
        };

        layers: layers {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYERS";
            #binding-cells = <0>;
            bindings = <&kp ESC>, <&none>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
           &kp Q                    &kp W                    &kp E                      &kp R                     &mt_hyp LA(LC(LG(LSHIFT))) T    &kp Y                         &kp U                     &kp I                      &kp O                    &kp P
           &mt_timeless_hrm LCMD A  &mt_timeless_hrm LALT S  &mt_timeless_hrm LSHIFT D  &mt_timeless_hrm LCTRL F  &lt 3 G                         &kp H                         &mt_timeless_hrm RCTRL J  &mt_timeless_hrm RSHIFT K  &mt_timeless_hrm RALT L  &mt_timeless_hrm LCMD SEMICOLON
&kp LCTRL  &kp Z                    &kp X                    &kp C                      &kp V                     &kp B                           &kp N                         &kp M                     &kp COMMA                  &kp DOT                  &kp FSLH                         &kp APOS
                                                             &mt LCMD ESCAPE            &lt 1 SPACE               &lt 4 TAB                       &mt LA(LC(LG(LSHIFT))) ENTER  &lt 2 BACKSPACE           &mt RSHIFT RA(BACKSPACE)
            >;
        };

        nav_num {
            bindings = <
               &kp LA(BACKSPACE)  &kp BACKSPACE  &kp UP    &kp DELETE  &kp LA(DELETE)    &kp STAR   &kp N7        &kp N8  &kp N9  &kp DOT
               &msc SCRL_UP       &kp LEFT       &kp DOWN  &kp RIGHT   &mkp LCLK         &kp PLUS   &kp N4        &kp N5  &kp N6  &kp COLON
&kp LG(LC(Q))  &msc SCRL_DOWN     &kp ESC        &kp TAB   &kp ENTER   &trans            &kp MINUS  &kp NUMBER_1  &kp N2  &kp N3  &kp SLASH  &kp AMPERSAND
                                                 &trans    &trans      &trans            &trans     &kp EQUAL     &kp N0
            >;
        };

        sym_func {
            bindings = <
           &kp ESC        &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp BACKSLASH     &kp LSHIFT        &kp F1   &kp F2   &kp F3   &kp F4   &kp F5
           &kp TAB        &kp LBKT              &kp RBKT               &kp ENTER         &trans            &kp F6   &kp F7   &kp F8   &kp F9   &kp F10
&kp GRAVE  &kp LESS_THAN  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GREATER_THAN  &kp UNDERSCORE    &kp F11  &kp F12  &kp F13  &kp F14  &kp F15  &kp F16
                                                &trans                 &trans            &trans            &trans   &trans   &trans
            >;
        };

        z_hyper {
            bindings = <
        &trans  &trans  &trans  &kp LS(TAB)  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &kp TAB      &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans       &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans       &trans    &trans  &trans  &trans
            >;
        };

        single_hand {
            bindings = <
        &kp P          &kp O       &kp I      &kp U   &kp Y     &trans  &trans  &trans  &trans  &trans
        &kp SEMICOLON  &kp L       &kp K      &kp J   &kp H     &trans  &trans  &trans  &trans  &trans
&trans  &kp SLASH      &kp PERIOD  &kp COMMA  &kp M   &kp N     &trans  &trans  &trans  &trans  &trans  &trans
                                   &trans     &trans  &trans    &trans  &trans  &trans
            >;
        };

        device {
            bindings = <
       &none   &kp C_BRI_UP  &kp C_VOL_UP  &kp C_NEXT        &none    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
       &trans  &kp C_BRI_DN  &kp C_VOL_DN  &kp C_PLAY_PAUSE  &none    &none         &none         &none         &none         &none
&none  &none   &none         &kp C_MUTE    &kp C_PREV        &none    &none         &none         &none         &none         &none         &bt BT_CLR
                             &none         &none             &none    &none         &none         &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        device {
            if-layers = <3 4>;
            then-layer = <5>;
        };
    };
};
